/* .head{
    height: 100%;
    width: 100%;
}
.head-img{
    height: 70%;
    width: 15%;
    padding-left: 45%;
} */

/* .image-head img{
    height: 70%;
    width: 15%;
    padding-left: 45%;
} */
 img{
    height: 70%;
    width: 15%;
    /* padding-left: 45%; */
 }